.footer {
    padding-top: $pd-96;
    background-color: $color-secondary;
    &__contact {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 (-$mg-15);
        padding-bottom: $pd-48;
        &__left {
            flex-grow: 4;
            margin-bottom: $mg-48;
            padding: 0 $pd-15;
            .heading-title {
                padding-bottom: $pd-6;
                margin-bottom: $mg-5;
            }

            .footer__form__choice {
                margin-bottom: $mg-32;
                p {
                    @include textStyle($color-gray-dark,null,$fw-600);
                    line-height: $line-height-14;
                    padding: $pd-10 0 $pd-0;
                    margin-bottom: $mg-3;
                }

                input[type="radio"] {
                    position: absolute;
                    visibility: hidden;
                    display: none;
                }

                label {
                    color: $color-primary;
                    border: 1px solid transparent;
                    border-color: rgba(118, 109, 244, 0.35);
                    cursor: pointer;
                    padding: $pd-1 $pd-5;
                    border-radius: $fs-075;
                    margin-right: $mg-13;
                    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
                        border-color 0.25s ease-in-out;
                    &:hover {
                        border-color: transparent !important;
                        background-color: rgba(118, 109, 244, 0.08) !important;
                        color: $color-primary !important;
                    }
                }

                input[type="radio"]:checked + label {
                    border-color: transparent;
                    background-color: rgba(118, 109, 244, 0.08);
                    color: $color-primary;
                }
            }

            textarea {
                padding: $pd-1 $pd-5;
                font-family: inherit;
            }
        }
        &__right {
            flex-grow: 6;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            margin-left: 25%;
            .heading-title {
                color: $color-dark !important;
                margin-bottom: $mg-3;
            }
            .footer__contact__menu {
                display: block;
                list-style: none;
                .nav--link {
                    font-size: $fs-0;
                    padding: 0;
                    margin-bottom: 0.3333333333rem;
                }
            }
            h3 {
                @include textStyle($color-dark,null,$fw-600);
                margin-bottom: $mg-3;
            }
            .footer__social__menu {
                list-style: none;
                display: flex;
                li {
                    margin-right: $mg-0;
                }
            }
        }
    }

    &__copyright {
        background-color: $color-dark;
        padding: $pd-48 0 $pd-6;
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                @include textStyle($color-gray-2,$fs-0,null);
                margin-bottom: $mg-5;
            }
            ul{
                li{
                    display: inline-block;
                    a{
                        font-size: $fs-0;
                        color: rgba(255,255,255,.7);
                        margin-right: $mg-6;
                        padding: 0;
                        &:hover{
                            color: $color-white;
                        }

                    }


                }
            }
        }
    }
}

